body {
    margin: 0;
}
body::-webkit-scrollbar {
    display: none;
}
main {
    overflow: hidden;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, li {
    display: block;
}



#loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    user-select: none;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.8s ease-in 1s, z-index 0s 1.5s;
}
#logo {
    height: 40%;
    aspect-ratio: 1;
}
#loading * {
    transition: opacity 1s linear;
}
#load-text {
    font-size: 3rem;
    margin-top: 5rem;
    transform: translateY(calc(100vh * -0.08));
}
.hide, .hide *, #loading.hide{
    opacity: 0;
    z-index: -20;
}
.scroll_lock {
    overflow: hidden;
}
